#account_body{
	display: none;
}

#account_program>div.account_program_article{
	background: #afada7;
	color: black;
	padding:.3em;
    font-weight:700;
    cursor:pointer;
}
#account_program>div.account_program_article>div{
	display: none;
}
#account_program>div.account_program_article:hover{
	background:#DF7401;
	color: white;
}

#account_header{
	text-align:center;
}

#account_header>input{
	border: 2px solid black;
	border-bottom: 1px solid black;
}

#account_column_side{
	width: 15%;
	float: left;
}

#account_column_main{
	width: 75%;
	float: left;
}

#account_badges{
	display: inline-block;
}

#account_badges>div{
	background: #F8FBEF;
	width: 100%;
	margin-bottom: 1em;
	padding-top: .3em;
	padding-bottom: .3em;
}

#account_badges>div:last-child{
	margin-bottom: 0;
}

#account_badges>div>img{
	margin-left: .3em;
}

#account_badges>div,#account_badges>div>img{
	float: left;
}

#account_badges>div>p{
	float: left;
	margin-left: 1em;
	width: 50%;
}

#account_blog{
	display: inline-block;
	float: left;
	width: 30%;
}

#account_program{
	display: inline-block;
	float: left;
	width: 45%;
}

#account_program_header{
	display: inline-block;
}

#account_program>div{
	float: left;
}

#account_program_header>div>p:first-child{
	margin-left: 0;
}

#account_program_header>div>p{
	float: left;
	margin-left: 1em;
}

#account_textarea{
	width: 95%;
}

.account_blog_content{
	font-style: italic;
	font-size: 90%;
}

textarea{
	resize: none;
}

form{
	display: inline-block;
}

.account_column{
	margin-left: 2%;
}

.account_divs{
	display: inline-block;
	background:#afada7;
	word-wrap: break-word;
	width: 100%;
	padding: .3em;
	margin-top: 1em;
	font-weight:bold;
	font-family:Helvetica, "Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
	text-align:left;
}