/*========LATEST VERSION DONT CHANGE ANYTHING IF WE NEED TO CHANGE WE CHANGE AT THE END =====================================================*/
/*====================MEDIA QUERIE============================*/
/*===========================================================*/
@media screen and (min-width:1406px){
	/*    content   */
	body{
		width:66.6%;
		margin:0 auto;
	}
	/*    content   */
	#news_popup{
		width:55%;
		margin-left:14em;
	}
	#news_bg{
		margin-left:-26em;
	}
	#news_content{
		width:100%;
	}
}
@media screen and (max-width:1366px){
/*--------------------Login Form--------------------*/		
	body{
		font-size:.99em;
	}

	#main_headings{
		font-size:.8em;
	}
	.log_button p, .log_button{
		width:4.4em;
	}	
	#login_div{
		width:100%;
		height:100%;
	}
	#logoIn{
		margin:-2em;
		position:relative;
		top:-2em;
	}
	#log-box{
		left:5em;
		width:15em;
		height:5em;
		line-height:1.6em;
		font-size:1.5em;
	}
	
	/*    navagation   */
	
	#navTablet{
		display:none;
	}
	
	/*    banner    */
	.slider{
		/* height:16.45em; */
	}	
		/*    content   */
	.fitnessBook{
		width:28.3%;
		height:180px;

	}
	.fitnessBook h2{
		font-size:.9em;
	}
	.fitnessBook p{
		font-size:.6em;
	}
	.fitnessBook{
		margin:.3em;
	}
	.fitnessBook img{
		max-width:90%;
	}
	/*    footer   */
	#termsDownload{
		margin-right:8em;
	}
	#main_nav, #main_nav li{
		float:none;
	}
	#termsDownload{
		margin-right:6em;
	}	
}
@media screen and (max-width:920px){
	body{
		font-size:.7em;
	}	
	#main_headings{
		font-size:.8em;
	}
	#logoIn{
		display:none;
	}
	#log-box{
		font-size:1.4em;
		line-height;1.3em;
	}	
	.log_button p, .log_button{
		width:4em;
	}
	
	/*    navigation   */
	#main_nav, #main_nav li{
		float:none;
	}
	
	/*    content   */	
	.fitnessBook{
		width:29.9%;
		/* height:145px; */
		padding:.4em .4em;
	}
	#main_section{
		padding:2em;
	}
	#content{
		width:60%;
		padding-left:0;
	}
	.fitnessBook{
		width:46%;
	}	
	.fitnessBook h2{
		font-size:1.1em;
	}
	.fitnessBook p{
		font-size:.8em;
	}	
	.fitnessBook img{
		max-width:70%;
		max-height:70%;
		margin:0 2.5em 0 2.5em;
	}
	#articles{
		float:left;
		width:49%;
	}
	#intro-img2{
		width:267px;
		height:180px;
	}
	.profile{
		float:none;
		width:80%;
		clear:both;
	}
	.page{
		font-size:1.4em;
	}
	
	/*    side bar   */
	#sidebar{
		width:40%;
		margin:0;
	}
	#body-m-index{
		margin-bottom:10em;
	}
	#bmi_section{
		width:60%;
	}
	#promo-bmi{
		background-position:50% 7%;
	}
	#gender{
		margin-right:5em;
		float:right;
	}
	
	
	/*    footer   */
	#footer{
		height:100px;
	}
	#footer span{
		font-size:4em;
	}
}


@media screen and (max-width:769px){
	body{
		font-size:.7em;
	}
	#main_headings{
		font-size:.8em;
		text-align:center;
	}
	#login_container{
		margin-left:3.5em;
		float:none;
		width:40%;
		position:absolute;
		top:10em;
	}
	#main_header{
		border-bottom:.3em solid #C38F00;
	}
	#logo #lg{
		display:none;
	}
	#logo #sm{
		display:block;
	}
	
	/*    navigation   */
	
	#navDesk{
		display:none;
	}	
	#menu-button{
		background:#000;
		background-image:url('../images/icons/nav-icon.png');
		background-repeat:no-repeat;
		width:100%;
		height:50px;
	}	
	.menu-text{
		display:none;
	}
	#menu-button{
		display:block;
	}
	#navTablet{		
		display:none;
		width:45%;
		height:38%;
		position:absolute;
		margin-top:-2em;
	}
	.submenu{
		display:none;
	}
	#navTablet .main_nav li{
		float:none;
	}
	#navTablet .main_nav li a{
		background:#28343B;
		float:none;
		list-style:none;
		text-decoration:none;
		padding:1em;
		display:block;
		line-height:1.2em;
		font-size:1.4em;
		text-decoration:none;
		text-align:center;
		color:#DF7401;
		border-bottom:.125em solid #000;
	}
	#navTablet li a:hover, #navTablet li a:focus{
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZjc0MDEiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(223,116,1,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(223,116,1,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(223,116,1,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(223,116,1,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(223,116,1,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(223,116,1,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00df7401',GradientType=0 ); /* IE6-8 */
	
		border-left:.4% solid white;
	}
	#navTablet li:last-child a{
		border-bottom:none;
	}
	
	/*    content   */
	.col{
		float:none;
		margin-bottom:3em;
	}
	#one{
		width:93.3%;
	}
	#one h2,#one h3, #one p{
		width:70%;
		margin:0 auto;
		padding:1 4em 1em 4em;
		line-height:2.5
	}
	#one p{
		margin-bottom:1.5em;
	}
	#two, #three{
		width:45%;
		margin-bottom:1em;
	}
	#content{
		width:100%;
		float:none;
	}
	.slider{
		clear:both;
	}
	#faq_content{
		width:100%;
	}
	#articles{
		width:97%;
		float:none;
		margin:0;
		padding:1em;
	}
	#articles h3, #articles p{
		width:80%;
		margin:0 auto;
	}

	#article h3{
		margin-top:2em;
	}
	.publishBy{
		padding:0;
	}
	.up{
		margin-top:-5em;
	}
	.video-wrapper{
		margin-left:5em;
	}
	#h2-six-packs-article{
		width:100%;
	}
	#articles h3{
		margin:2em 0 2em 0;
		font-size:1.5em;
	}
	.wrap-img, #intro-img, #intro-img2, #intro-img3{
		margin-left:6em;
	}
	.weight-loss-pgs{
		float:left;
		width:98%;
	}
	.zodiaco_section{
		background:#F8FBEF;
		
	}
	.page{
		font-size:1.2em;
	}
	.zodiaco-container{
		background-image:url('../images/paper_texture-md.png');
		width:400px;
		height:604px;
	}
	.news_headline{
		width:40%;
	}

	#news_articles{
		width:90%;
	}
/*==========================account area=====================*/	
	/*code your account responsive here in two columns*/
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
	/*    sidebar    */
	#sidebar{
		float:none;
		margin-top:2em;
		width:100%;
	}
	.promo{
		float:left;
		margin-left:2em;
		font-size:1.2em;
	}
	#bmi_section{
		width:75%;
		margin:0;
	}
	#BMI{
		width:60%;
		margin:-9em 2em 2em 5em;
	}
	#body-m-index{
		font-size:2em;
	}

	#promo-BMI{
		background-image:url('../images/bmi-background-md.png');
	}
	#sub-nav{
		float:none;
		width:90%;
	}
	.product{
		width:20%;
	}
	#sidebar-weightloss{
		width:90%;
	}	

	/*    footer    */
	#subfooter{
		background-image:url('../images/aifa-footer-md.png');
		background-repeat:repeat-x;
	}
	#credits{
		float:right;
	}
	#footer{
		height:100px;
		font-size:.9em;
	}
	#footer span{
		font-size:4em;
	}
	#wagner, #aaron, #alex, #paul{
		background-image:none;
		border-radius:none;
		box-shadow:none;
		text-indent:0;
	}
	#subfooter{
		width:100%;
		height:800px;
		padding:0;
	}
	.column{
		width:48%;
		font-size:1.2em;
		line-height:1.6;
		margin:0;
	}
	.column span{
		font-size:1.4em;
	}
	
	#columnOne, #columnTwo{
		margin-top:14em;	
	}
	#termsDownload{
		margin-right:9em;
	}	
	
}
@media screen and (max-width:569px){
	body{
		font-size:.7em;
	}
	#main_headings{
		font-size:.8em;
	}
	
	/* Login Form */	
	#log-box{
		width:30%;
		height:10%;
	}
	#log-box p, #log-box label, #log-box input, #log-box button{
		position:relative;
		top:3em;
	}
	
	/*    content    */
	#content, #one , #two, #three, .fitnessBook{
		width:100%;
	}
	.fitnessBook{
		float:none;
	}
	#one, #two, #three{
		float:none;
		margin-bottom:3px;
	}
	.slider{
/* 		height:11.1em;
		margin:0 auto; */
	}
	.img, #list-introduction, #one, .slider, .weight-loss-pgs, .col{
		box-shadow:.2em .2em .2em #999;
		border:1px solid #000;
	}
	.zodiaco_section{
		height:670px;
	}
	.page h2{
		margin-top:3em;
	}
	.zodiaco-container{
		background-image:url('../images/paper_texture-sm.png');
		width:320px;
		height:730px;
	}	
/*==========================account area=====================*/	
	/*code your account responsive here in one columns*/
	
	
	
	
	
	
	
	
	
	
	/*    sidebar    */
	#bmi_section #promo-bmi{
		width:95%;
		border:1em ridge #2980b9;
	}
	#BMI{
		margin-left:2em;
	}
	#gender{
		position:relative;
		left:4em;
	}	
	/*    footer    */
	#subfooter{
		height:1300px;
		width:100%;
		background-image:url('../images/aifa-footer-sm.png');
	}
	.column{
		float:none;
		width:100%;
		font-size:1.2em;
		margin:0 auto;
	}
	#columnOne{
		position:relative;
		top:14em;
	}
	#columnThree, #columnFour{
		width:90%;
	}
	#terms{
		margin:0;
	}
	#termsDownload{
		position:absolute;
		left:16em;
		margin-top:-2em;
	}	
	#footer{
		height:110px;
		clear:both;
		float:none;
		font-size:.9em;
	}
	#footer span{
		font-size:3em;
	}

	#credits{
		float:none;
		margin:0;
	}

}
@media screen and (max-width:480px){
	body{
		font-size:.7em;
	}
	#main_header{
		height:39%;
	}
	#logo{
		width:90%;
		float:none;
	}
	#logo #lg{
		display:none;
	}
	#logo #sm{
		display:block;
		padding:2em 3em 0 10em;
	}	
	#main_headings{
		float:none;
		width:85%;
		text-align:center;
		font-size:.8em;	
	}

	/*    login form    */
	#log-box{
		margin-left:-1.8em;
		font-size:1em;
	}
	#log-box p, #log-box label, #log-box input{
		margin-top:-9em;
		font-size:.6em;
	}
	#log-box input{
		width:100%;
	}
	#login_container{
		margin-top:8em;
		font-size:1.3em;
	}	
 	.log{
		position:relative;
		top:-3.3em;
		margin-left:10em;

	}
	.logged_in{
		margin-top:3em;
	}
	#button_login{
		float:right;
		position:relative;
		top:-2em;
		left:5em;
	}
	.log_button{
		width:100%;
	}
	.logged_in, #button_logoff{
		position:relative;
		top:-3em;
	}
	#button_logoff{
		top:-7em;
	}	
	
	/*    content    */
	.col{
		float:none;
		width:100%;
		margin:0;
	}
	/*    navigation    */
	div.nav_expanded{
		display:block;
	}
	#navDesk{
		display:none;
	}
	#menu-button{
		display:none;
	}
	.menu-text{
		display:block;
	}
	#navTablet{
		width:100%;
		height:31.6%;
		margin:0;
		position:absolute;
		top:27em;
	}
	#navTablet .main_nav li a{
		font-size:1.3em;
		text-align:center;
	}
	
	/*    content    */
	#up{
		background-image:url('../images/icons/up-sm.png');
		background-repeat:no-repeat;
	}
	#up:hover{
		background-image:url('../images/icons/up-hover-sm.png');
		background-repeat:no-repeat;
	}
	.wrap-img{
		margin:0;
	}
	
	/*    sidebar    */	
	#sidebar{
		width:100%;
	}
	#BMI{
		margin-left:1em;
	}
	#gender{
		position:relative;
		left:2em;
	}
	.button{
		height: 30px;
		width: 100px;	
	}
	.button .outer{
		border-radius: 13px;
		-webkit-border-radius: 13px;
		-moz-border-radius: 13px;
	}
	.button .outer .height {
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
	.button .outer .height .inner {
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
	}
	.button:active .outer .height .inner{
		border-radius: 13px;
		-webkit-border-radius: 13px;
		-moz-border-radius: 13px;
	}
	/*    sidebar    */	
	#subfooter{
		background-image:url('../images/aifa-footer-sm.png');
		background-repeat:repeat-x;
		height:1300px;
		clear:both;
	}
	#columnOne{
		position:relative;
	}
	#footer{
		height:130px;
	}
	#copy{
		float:none;
	}
	#credits{
		float:none;
		margin:2em;
	}



}

@media screen and (max-width:361px){
	#main_headings{
		width:70%;
		text-align:center;
		font-size:.7em;		
	}
	footer{
		margin:0;
		padding:0;

	}
	.slider{
		/* height:8em; */
	}
