/*THIS IS THE LAST VERSION OF CSS AIFA PROJECT 10-12-2014*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Clear Default*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
/*FOR IE 6,7 (triger hasLayout)*/
.cf{
	zoom:1;
}

/*==============body defaults===================================*/
body{
	background:#F8FBEF;
	width:100%;
	line-height:1.4;
	margin:0 auto;
	font-family: "Franklin Gothic Book", Helvetica,"Calibri Light", Arial, sams-serif;
}
h1{
	font-size:2.4em;
}
h2{
	font-size:1.9em;
}
h3,h4{
	font-size:1.2em;
	font-weight:bold;
}
#homepage{/*initialize height to other part work with percentage*/
	width:100%;
	height:780px;
}
a{
	text-decoration:none;
	color:#000;
}
body img{
	max-width:100%;
}
/*=================================================================*/
/*===================MAIN SECTION=============================*/
#main_section{
	background:#F8FBEF;
	
}
#content{
	float:left;
	width:66%;
	padding-left:2em;
	
}

/*=================SIDE BAR====================================*/
#sidebar{
	margin-top:1.8em;
	width:30%;
	float:right;

}

/*=============box shadow defaults=================================*/

.img, #list-introduction, .slider, .weight-loss-pgs, .exercise-title,.button_weightloss{
	box-shadow:.2em .2em .2em #999;
	-webkit-box-shadow:.2em .2em .2em #999;
	-moz-box-shadow:.2em .2em .2em #999;
	-ms-box-shadow:.2em .2em .2em #999;
}

/*==============WRAP IMAGES DEFAULTS============================*/
.wrap-img, #intro-img, #intro-img2, #intro-img3, #gain-mass, .widescreen-img{
	border:.2em solid #000;
	margin-bottom:2em;
}
.wrap-img{
	width:25.750em;
	height:17.375em;
}
#intro-img{
	width:18.750em;
	height:18.563em;
} 
#intro-img2{
	width:21.250em;
	height:14.063em;
	float:left;
}
#intro-img3{
	width:45em;
	height:22em;
}
#gain-mass{
	width:33em;
	height:19.45em;
}
.widescreen-img{
	width:33em;
	height:16.45em;
}
/*==========================VIDEO DEFAULT RESPONSIVE=================*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width:90.5%;
	height:92.5%;
	margin:0 auto;
}

/*========================HEADER SECTION AND FOOTER========================*/
/*================================================================================*/
#main_header, #main_header a{
	width:100%;
	height:25%;
	color:white;
	text-decoration:none;
}
#main_header{
	background: #2980b9;
}
#head_wrap{
	width:90%;
	margin:0 auto;
}
#logo{
	float:left;
}
#logo img{
	padding-top:2em;
}
#logo #sm{
	display:none;
}
#main_headings{
	padding:2em;
	margin-left:1em;
	float:left;
	color:#F8FBEF;
	font-weight:bold;
	width:55%;
}
/*=============login and buttons layout=======================*/
#login_div{
	top: 15%;
	left: 15%;
	width:70%;
	height:0px;
	z-index:2;
	position:fixed;
	display:none;
}
#log-box{
	background:white;
	position:absolute;
	top:3em;
	left:8em;
	z-index:2;
	width:20em;
	height:10em;
	border-radius:.4em;
	line-height:2em;
	font-size:.9em;
	text-align:center;
	padding:5em;
}
#login_bg{
	background: black;
	opacity: 0.3;
	position: fixed;
	cursor: pointer;
	z-index: 1;
	left: -100%;
	height: 100%;
	width: 200%;
}
#login_container{
	float:right;
	width:15%;
}

.log {
	-webkit-box-shadow:rgba(0,0,0,0.98) 0 0.063em 0 0;
	-moz-box-shadow:rgba(0,0,0,0.98) 0 0.063em 0 0;
	box-shadow:rgba(0,0,0,0.98) 0 0.063em 0 0;
	background-color:#EEE;
	border-radius:.1em;
	-webkit-border-radius:.1em;
	-moz-border-radius:.1em;
	border:0.063em solid #999;
	color:#666;
	font-size:.9em;
	font-weight:700;
	padding:0.065em 0.065em;
	margin:0 .2em 0 .2em;
	height:2em;
	width: 6em;
	
} 
.log_on:hover{
	background: #DF7401;
	color:#F8FBEF;
	cursor: pointer;
}
.log_off:hover{
	background: #DF7401;
	color:#F8FBEF;
	cursor: pointer;
}
.log:active, .log:focus{
	background: #BCC6CC; 

}

/*====================NAVIGATION AREA ============================*/
#navDesk{
	height:2.3em;
	background:#28343b;
	border-bottom:.3em solid #DF7401;
}
#navDesk .main_nav{
	margin-left:4em;
}
#navDesk .main_nav{
	height:2em;
	background:#28343b;
}
#navDesk .main_nav,.main_nav li{
	float:left;
	list-style:none;
}
#navDesk li{
	position:relative;
}
#navDesk .main_nav li{
	border-right:.1em solid #000;
	height:2.1em;
}
#navDesk .main_nav li a{
	display:block;
	line-height:2em;
	padding:0 1em;
	color:#F8FBEF;
}
#navDesk .main_nav li a:hover{
	background:#DF7401;
	height:2.3em;
	display:block;
}
/*----------dropdown menu-----------*/
#navDesk ul.submenu{
	background:#F8FBEF;
	margin-top:.3em;
	width:18em;
	height:8em;
	border:.4em solid #DF7401;/*---kind of orange--*/
	border-bottom-left-radius:.4em;
	border-bottom-right-radius:.4em;
	position:absolute;
	top:2em;
	float:none;
	left:-9000em;
	z-index:1;
	/*--   CSS TRANSITIONS   --*   I return the transitions so we can have a small code of CSS3*/ 
 	max-height:0;
	-moz-transition:max-height 0.6s ease-in-out;
	-webkit-transition:max-height 0.6s ease-in-out;
	-o-transition:max-height 0.6s ease-in-out;
	transition:max-height 0.6s ease-in-out;	 
	overflow:hidden;
	/*--   CSS TRANSITIONS   --*/
}
#navDesk ul.submenu li{
	float:none;
	border:none;
	background:#F8FBEF;
}
#navDesk .main_nav li:hover ul{
	left:0;
 	max-height:10em;/*--   CSS TRANSITIONS   --*/ 
}
#navDesk .main_nav > li:hover > a{
	background:#DF7401;
	height:2.3em;
	padding:0 1em;
}
#navDesk ul.submenu li a{
	margin-left:.3em;
	padding:.2em 1em;
	white-space:nowrap;
	position:absolute;
	color:#DF7401;
}
#navDesk ul.submenu a{
	width: 18em;
}

#navDesk ul.submenu:last-child li{
	margin-top:1em;
}
#navDesk ul.submenu a:hover{
	background:#DF7401;
	color:#F8FBEF;
	width:18em;	
}
#navDesk .current, #navDesk .main_nav a:hover.current{
	background:#AD9B7F;
	color:#eee;
	border-bottom:.536em solid #AD9B7F;
	cursor:default;
}
#navDesk .main_nav a:hover.current{
	border-bottom:.26em solid #AD9B7F;
}


#navTablet{
	display:none;
}
#menu-button, .menu-text{
	display:none;
}
.menu-text{
	width:100%;
	height:45px;
	background:red;	
	background:#28343B;
	font-size:1.9em;
	letter-spacing:.1em;
	text-align:right;
}

/*===============FOOTER SECTION==================================*/
footer{   
	width:100%;
	clear:both;
}
#subfooter{
	background:#999999;
	background-image:url('../images/aifa-footer.png');
	background-repeat:repeat-x;
	height:620px;
	padding:.5em .4em;
}

.column{
	margin-top:10em;
	width:32.3%;
	float:left;
}
.column:last-child{
	border-right:none;
}
/*---------columen one---------*/
#news, #weight, #height{
	height:1.8em;
	border-top:.2em solid #999;
	border-left:.2em solid #999;
	border-bottom:.2em solid #ccc;
	border-right:.2em solid #ccc;
}
#submitnews{
	border-top:.2em solid #DF7401;
	border-left:.2em solid #DF7401;
	border-bottom:.2em solid #894803;
	border-right:.2em solid #894803;
	background:#DF7401;
	margin:.2em 0 0 -.4em;
	height:2.3em;
}
#newsletter{
	color:red;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:.1em;
	text-transform:uppercase;
}
#newsLetter, iframe, #columnOne p{
	margin-left:1em;
}
#newsLetter p{
	width:20em;
	font-size:.7em;
}
#columnOne p{
	line-height:1.5;
	
}
iframe{
	
	border:.6em solid white;
	border-radius:.2em;
	cursor:default;
	color:#5C5C5C	
}
/*---------column two---------*/
#columnTwo p:first-child{
	:Ariel, sans-serif;
	font-size:1.2em;
	margin:1em 3em;
	text-align:center;
	text-transform:uppercase;
}
.appStore, .appStore a{
	text-indent:-9999em;
	width:218px;
	height:64px;
	display:block;	
	margin:0 auto;
}
#apple{
	background-image:url('../images/apple.png');
	background-repeat:no-repeat;	
}
#apple:hover{
	background-image:url('../images/apple-hover.png');
	background-repeat:no-repeat;
}
#google{
	background-image:url('../images/google.png');
	background-repeat:no-repeat;	
}
#google:hover{
	background-image:url('../images/google-hover.png');
	background-repeat:no-repeat;	
}
#win{
	background-image:url('../images/win.png');
	background-repeat:no-repeat;	
}
#win:hover{
	background-image:url('../images/win-hover.png');
	background-repeat:no-repeat;	
}
#amazon{
	background-image:url('../images/amazon.png');
	background-repeat:no-repeat;	
}
#amazon:hover{
	background-image:url('../images/amazon-hover.png');
	background-repeat:no-repeat;	
}
/*---------column thre and four-----------*/
	.column span{
		color:#fff;
		font-style:underline;
		line-height:3;
	}	
	#columnThree{
		float:right;
	}
	#columnFour{
		float:right;
		margin-top:-.3em;
	}

	#useful-links a, #social-network a{
		color:#000;
	}
	#useful-links a:hover{
		color:#DF7401;
		background:#F8FBEF;
		padding:.2em;
		border-radius:.2em;
	}
	#facebook{
		list-style-image:url('../images/icons/Facebook.png');
	}
	#facebook a:hover{
		background:#5775AE;
		color:#fff;
	}
	#twitter{
		list-style-image:url('../images/icons/twitter.png');
	}
	#twitter a:hover{
		background:#ADEBED;
		color:#357EB3;
	}
	#linkedin{
		list-style-image:url('../images/icons/linkedin.png');
	}
	#linkedin a:hover{
		background:#145487;
		color:#fff;
	}
	#instagram{
		list-style-image:url('../images/icons/instagram.png');
		margin-bottom:2em;
	}
	#instagram a:hover{
		background:#C4B29C;
		color:#A7775D;
		margin-bottom:2em;
	}
	#facebook:hover a, #twitter a:hover, #linkedin a:hover, #instagram a:hover{
		padding:.2em .3em .2em .3em;
		border-radius:.2em;
	}
	#terms{
		color:red;
		margin-top:2em;
	}
	#terms:hover{
		color:#DF7401;
	}
	#termsDownload{
		float:right;
		background-image:url('../images/icons/adobe.png');
		background-repeat:no-repeat;
		width:30px;
		height:32px;
		margin-right:10em;
	}
	#termsDownload p{
		text-indent:-9999em;
	}
#footer{
	background:#20160D;
	height:70px;
	color:#999999;
	font-size:.7em;
}
#copy{
	float:left;
}
#copyright span{
	font-size:4em;
	color:#000;
}
#credits{
	float:right;
}
#credits a:hover, #copy a:hover{
	color:#DF7401;
}
#wagner, #aaron, #alex, #paul{
	display:block;
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	border-radius:50%;
	box-shadow:.1em .1em .0689em .0689em #888888;
	-webkit-box-shadow:.1em .1em .0689em .0689em #888888;
	-moz-box-shadow:.1em .1em .0689em .0689em #888888;
	-ms-box-shadow:.1em .1em .0689em .0689em #888888;
	text-indent:-9999em;
	float:left;
	margin-left:1em;
}
#wagner{
	background-image:url('../images/wagner.jpg');
}
#aaron{
	background-image:url('../images/aaron.jpg');	
}
#alex{
	/*insert your image URL here and the last person to insert the image , delete this comment and uncomment the text indent above*/
}
#paul{
	background-image:url('../images/paul.jpg');
}

/*============================================================*/
/*DO NOT EDIT CONTENT ABOVE THESE COMMENTS! THESE ARE DEFAULTS*/
/*IF YOU ARE SEEING THIS SAM, WE FORGOT TO DELETE THIS LINE!*/
/*============================================================*/

/*=============================INDEX CONTENT=================================================*/
.aifa-content-title, .adds{
	text-indent:-9999em;
}
#about-aifa{
	width:100%;
	float:left;
	margin:1em 0 1em 0;
	
}
.col{
	width:30%;
	margin:0 1em 1em 1em;
}
#one, #two, #three{
	float:left;
}
#one h2, #three h2{
	color:#2980b9;
	text-align:center;
}
#one h3{
	color:#DF7401;
}
#one p{
	line-height:1.6;
	text-align:justify;
	padding:0 .6em 0 .2em;
	margin-bottom:1em;
}
.slider{
	background:#000;
	border:.1em solid #000;
	width:100%;
	height:auto;
	margin:2em 0 2em 0;
	overflow:hidden;
	z-index:-1;
}
.slider img{
	display:none;
	max-width:100%;
	height:auto;
}
.fitnessBook{
	background:#E6E6E6;
	padding:.5em .5em;
	float:left;
	
}
.fitnessBook h2{
	font-size:1.2em;
	font-weight:bold;
}
.fitnessBook h2 a:hover{
	color:#DF7401;
}
.fitnessBook p{
	font-size:.7em;
}
.fitnessBook img, .related-articles img {
	
	border:.4em solid #F8FBEF;
}
.fitnessBook img:hover, .promo img:hover{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
} 

#healthybody{
	display:none;
}
#myth{
	display:none;
}
/*-----------Side Bar---------------*/
.promo{
	width:90%;
	background:#F8FBEF;
	border:1px solid #999;
}
#healing-fitness{
	border:none;
}
.promo h4, .promo p{
	width:90%;
	text-align:center;
	margin:0 auto;
}
.promo a{
	color:#000;
}
.promo a:hover{
	color:#DF7401;
}
.promo h4{
	margin:1em 1em 1.5em 1em;
	font-size:1.3em;
	border-bottom:.1em solid #DF7401;
}
.promo h5{
	text-decoration:underline;
}
.promo h5:hover{
	color:#DF7401;
}
.promo p{
	font-size:.8em;
}
#show-chest, #show-back, #show-arms, #show-legs{
	display:none;
}
.exercise-title{
	margin:0 0 1em 1em;
	width:10em;
	padding:.2em;
	cursor:pointer;
}
.exercise{
	margin:0 auto;
	width:70%;
	font-size:.8em;
}
.exercise li{
	border-bottom:1px solid #999;
	margin-bottom:.7em;
	padding:.5em;
	cursor:pointer;
}
.exercise li > p{
	font-size:1em;
}
.exercise li:hover{
	background:#FBFBEF;
	position:relative;
	padding:.5em;
	color:#DF7401;
}
.promo img{
	margin:0 auto;
}
.arrow-up{
	display:none;
}
.workout{
	display:none;
	margin:0 2em 0 2em;
	padding:1em;
	z-index:1;
}
.workout img{
	float:left;
	margin-right:1em;
}

#show-legs li:hover > p, #show-chest li:hover > p, #show-back li:hover > p, #show-arms li:hover > p{
	background:#E6E6E6;
	display:block;
	width:480px;
	position:absolute;
	right:21em;
	top:-18em;
	border:.2em solid #000;
	border-radius:2em;
	color:#000;
}
.exercise em{
	font-weight:bold;
	text-transform:upperletter;
}

/*=============================Articles pages========================================================*/
.related-articles{
	margin:1em;
}
.related-articles h2{
	font-size:1.4em;
	border-bottom:.0765em solid #999;
}
.related-articles p{
	font-size:.8em;
}
#healthy-heart{
	padding-top:2em;
	margin:0 auto;
	width:70%;
	height:540px;
	line-height:1.6;
	text-align:justify;
}
.publishBy{
	width:60%;
	border-left:4px double #999;
	margin:1em;
	padding-left:.7em;
}
.publishBy a{
	color:#999;
	text-decoration:underline;
}
.publishBy a:hover{
	color:#DF7401;
}

#articles{
	padding:0 2em 2em 2em;
	width:59%;
	float:left;
	margin:1.5em;
	line-height:1.7;
	text-align:justify;	
}
.hgroup{
	width:100%;
}
#articles h2{
	margin:0 auto;
	padding-bottom:1em;
	width:60%;
	text-align:center;
	font-weight:bold;
	font-size:1.9em;
}
#h2-six-packs-article{
	width:75%;
}
#articles h3{
	margin:0 0 2em 0;
}


.profile{
	float:right;
	width:40%;
	padding:1em;
	margin-left:2em;
	margin-bottom:2em;
	text-align:left;
	line-height:1.4;
	background:#E6E6E6;
}
.profile h4{
	margin-bottom:1em;
}
#fran-wrap-img{
	width:7.188em;
	height:9.563em;
	float:right;
	padding:.5em;
}
.img{
	
	height:100%;
}
#list-introduction{
	width:20em;
	margin:2em;
}
.list{
	list-style-image: url('../images/icons/fit-bullets.png');
	line-height:2;
	margin-left:2em;
}
.list a{
	color:#999;
}
.list li:hover, .list a:hover{
	list-style-image: url('../images/icons/fit-bullets-hover.png');
	color:#2980b9;
}
.list li:last-child{
	margin-bottom:2em;
}
.wrap-up{
	width:98%;
	height:10%;
	margin:1em 0 1em 0;
}
.up, .up a{
	width:50px;
	height:49px;
	text-indent:-9999em;
	display:block;
	float:right;

}
#up{
	background-image:url('../images/icons/up.png');
	background-repeat:no-repeat;
}
#up:hover{
	background-image:url('../images/icons/up-hover.png');
	background-repeat:no-repeat;
}
.healing-pg h2, .healing-pg h3, .healing-pg p{
	width:85%;
	margin:0 auto;
}
.zodiaco{
	margin:0 auto;
	display:block;
	width:40%;
}
.zodiaco-container, .progress-selected{
	margin-top:1em;
}
.zodiaco-container{
	background:#f8f8f8;
	background-image:url('../images/paper_texture.png');
	background-repeat:no-repeat;
	width:500px;
	height:755px;
}
.progress-selected{
	background-image:url('../images/background-astral.jpg');
	display:block;
	height:70px;
	border-radius:20%;
	border:.1em solid #ccc;	
}
.page{
	margin:0 auto;
	width:80%;
	padding:2em;
	font-size:1em;
}
.page p, .page h2, .page data{
	opacity:0.6;
}
.page h2{
	margin-top:2.3em;
}
.page a{
	color:#f8f8f8;
}
.page a:hover{
	color:#1a0001;
    text-decoration:underline;
	text-decoration-color:red;	
    -moz-text-decoration-color:red; 
	-webkit-text-decoration-color:
	-o-text-decoration-color:
    
}
#larrow, #rarrow{
	position:relative;
	display:block;
	background-repeat:no-repeat;
	width:67px;
	height:67px;
	text-indent:-9999em;
}
#larrow{
	float:left;
	background-image:url('../images/icons/left-arrow.png');
}
#larrow:hover{
	background-image:url('../images/icons/left-arrow-hover.png');
}

#rarrow{
	float:right;
	background-image:url('../images/icons/right-arrow.png');
}
#rarrow:hover{
	background-image:url('../images/icons/right-arrow-hover.png');
}
.page{
	display:none;
	opacity:0;
}
.present{
	display:block;
	opacity:1;
}
/*=============================Weight loss Content=================================================*/
#sub-nav{
	float:left;
	width:18%;
	height:auto;
	padding:2em 3em 0 2em;
}
#sub-nav h3{
	margin-bottom:2em;
}
#sub-nav li{
	list-style:none;
	margin-bottom:.4em;
	border-bottom:.1em solid #999;
}
.weight-loss-pgs{
	width:44%;
	float:left;
	margin:0 1em 2em 1em;
	line-height:1.8;
	padding:.3em .3em 0 .3em;
}
.weight-loss-pgs p{
	margin-bottom:.5em;
}
.all-weightloss-spans{
	display:none;
}
#teen, #show-hamstring{
	margin-bottom:1em;
}
#sidebar-weightloss{
	width:25%;
	float:right;
	margin-top:2em;
}
.product{
	width:45%;
	height:190px;
	margin:0 .3em .3em 0;
	background:#E6E6E6;
	border:.2em solid #999;
	float:left;
	font-size:.8em;
	padding:.2em;
}
.product p{
	padding:0 .2em 0 .5em;
	font-size:.76em;
}
.product label{
	margin-left:2em;
}
.buy{
	background:red;
	border:1px solid #000;
	color:#fff;
	width:5em;
	padding:.2em;
	border-radius:16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	margin-bottom:.2em;
}
#pg2, #pg3{
	display:none;
}
.author{
	background:#E6E6E6;
	line-height:1;
	margin:.5em 0 .5em 0;
	text-align:right;
	font-weight:bold;
}
/*========= Read More Read Less Button =====================*/
.button_weightloss {
	/* background:#E6E6E6; */
	border:.2em inset #d8e0de;
	width:22%;
	height:28px;
	padding:.1em;
	text-align:center;
	border-radius:1em;
	font-size:1em;
	font-weight:bold;
	background: #d8e0de; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8e0de), color-stop(22%,#aebfbc), color-stop(33%,#99afab), color-stop(50%,#8ea6a2), color-stop(67%,#829d98), color-stop(82%,#4e5c5a), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}
.button_weightloss:hover{
	border:.2em solid #4e5c5a; 
	color:#E6E6E6;
	background: #0e0e0e; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e0e0e 0%, #4e5c5a 18%, #829d98 33%, #8ea6a2 50%, #99afab 67%, #aebfbc 78%, #d8e0de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(18%,#4e5c5a), color-stop(33%,#829d98), color-stop(50%,#8ea6a2), color-stop(67%,#99afab), color-stop(78%,#aebfbc), color-stop(100%,#d8e0de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e0e0e 0%,#4e5c5a 18%,#829d98 33%,#8ea6a2 50%,#99afab 67%,#aebfbc 78%,#d8e0de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e0e0e 0%,#4e5c5a 18%,#829d98 33%,#8ea6a2 50%,#99afab 67%,#aebfbc 78%,#d8e0de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e0e0e 0%,#4e5c5a 18%,#829d98 33%,#8ea6a2 50%,#99afab 67%,#aebfbc 78%,#d8e0de 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e0e0e 0%,#4e5c5a 18%,#829d98 33%,#8ea6a2 50%,#99afab 67%,#aebfbc 78%,#d8e0de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#d8e0de',GradientType=0 ); /* IE6-9 */
	
}
.button_weightloss:active{
	background:red;
	border:.2em solid #fff; 
}	
/*=============================Recipes Content=================================================*/
/* Basic sample */



.recipe_tableContents{
	text-align:left;
	margin-top:2em;
	width:90%;
	height:75%;
	margin-left:4px;
}

#recipes_content{
	width:100%;
	
	margin:0 auto;
}

.r_cover{
	height:100%;
	width:100%;
}


.page2_wrapper{
	width:100%;
	
	background-color:#2ecc71;
	margin-left:2em;
}

.servings{
	width:30%;
	float:left;
}

.prep{
	width:30%;
	margin-left:2em;
	float:left;
}

.cooktime{
	width:40%;
	margin-left:2em;
	float:left;
}

.recipe_ingredients{
	width:50%;
	border-style: solid;
    border-width: 1px;
	height:70%;
	margin-left:2em;
}

.page3_wrapper{
	margin-right:2em;
}
.recipe_calories{
	
	background-color:#2ecc71;
	width:30%;
	float:left;
}

.recipe_name{
	margin-left:2em;
	
}

.recipe_image{
	width:max-width:100%;
	height:auto
}

.recipe_fill{
	width:100%;
	height:100%;
}

.recipe_para{
	margin-left:1em;
	margin-top:1em;
	margin-right:1em;
}

.recipe_para2{
	margin-left:1em;
	margin-right:1em;
}

.recipe_fat{

	width:30%;
	float:left;
	background-color:#2ecc71;
}

.recipe_carbs{
	width:20%;
	float:left;
	background-color:#2ecc71;
}

.recipe_protein{
	width:20%;
	float:left;
	background-color:#2ecc71;
}

.recipe_mainHeading{
	width:92%;
	height:15%;
	clear:both;
	
	float:left;
	text-align:center;
}

.flipbook{
	margin:0 auto;
	z-index:0;
}

#recipe-pie{
	height:100%;
	width:100%;
}

.recipe_mainContent{
	width:92%;
	height:40%;
	
	float:left;
}

.flipbook-viewport{
	
	width:100%;
	height:100%;
	margin:0 auto;
}

.flipbook-viewport .container{
	margin:0 auto;
	margin-left:16em;
}


.flipbook-viewport .flipbook{
	width:800px;
	height:400px;
	margin:0 auto;
}
.flipbook-viewport .page{
	width:800px;
	height:400px;
	background-color:#ecf0f1;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0 auto;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook-viewport .double{
	width:800px;
	height:400px;
	background-size:100%;
}


/*=============================BMI Content=================================================*/
#bmi_section{
	width:40%;
	margin:0 auto;
}
#bmi_section #promo-bmi{
	border:2em ridge #2980b9;
}
#promo-bmi{
	margin-top:2em;
	background-image:url('../images/bmi-background.png');
	background-repeat:no-repeat;
	background-position:98% 7%;
}
#BMI{
	width:100%;
	margin:0;
	padding:.8em;
	line-height:1.8;
}
#body-m-index{
	color:#610B0B;
	text-shadow:1px 1px #ff0000;
}
#BMI label{
	color:#610B0B;
	font-weight:bold;
	background: rgb(255, 255, 0); /* The Fallback */
	background: rgba(255, 255, 0, 0.2);	
}
#couple, #couple-bf{
	background-image:url('../images/icons/couple.png');
	background-repeat:no-repeat;
	width:118px;
	height:95px;
}
#img-male, #img-male-bf{
	background-image:url('../images/icons/male.png');
	background-repeat:no-repeat;
	width:118px;
	height:95px;
	display:none;
}
#img-female, #img-female-bf{
	background-image:url('../images/icons/female.png');
	background-repeat:no-repeat;
	width:118px;
	height:95px;
	display:none;
}
#gender, #gender-bf{
	width:6em;
	margin:-3em 6em 1em 0;
}
#male, #gender-bf{
	color:#0072B9;
}
#female{
	color:#E94E6D;
}
#message{
	font-size:1em;
	color:#610B0B;
	margin-left:-.5em;
}
.opaci{
   background: rgb(255,255, 0); /* The Fallback */
   background: rgba(255, 255, 0, 0.2); 
}
.height-weight, .feet-inch-lbs, #result{
	width:6em;
	margin-bottom:.3em;
	height:1.5em;
	border-radius:.5em;
}
.unit-box{
	float:left;
}
#unit-lbs{
	margin:0 0 1em 3.5em;
}
#unit-imperial{
	display:none; 
}
#underweight-treatment, #overweight-treatment, #obsity-treatment{
	display:none;
}
#showTreat1, #showTreat2, #showTreat3{
	display:none;
}
#foodTips1, #foodTips2{
	display:none;
}
.foodTips p, .feedbackAdvice p{
	text-align:left;
}
.feedbackAdvice p{
	margin-bottom:1em;
}
.button {
	height: 40px;
	width: 120px;
	cursor: pointer;
	margin:.3em 2em 3em 3em;
}
.button .outer {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.65);
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-moz-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
	height: 100%;
	margin-top: -15px;
	padding-bottom: 15px;
	background: #9A2D2D;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}       
.button:hover .outer .height {
	margin-top: -10px;
	padding-bottom: 10px;
	background: 847;
	box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-moz-box-shadow: rgba( 0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
}
.button:active .outer .height {
	margin-top: 0px;
	padding-bottom: 0px;
}
.button .outer .height .inner {
	line-height: 1.9em;
	font-size: 1.3em;
	letter-spacing: .05em;
	height: 100%;
	text-align: center;
	text-shadow: #5D86EE 0px 0px 1px;
	background: #811818;
	background: -moz-linear-gradient(top, #5C0A0A 0%, #690F0F 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C0A0A), color-stop(100%,#690F0F)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5C0A0A 0%,#690F0F 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #5C0A0A 0%,#690F0F 100%); /* W3C */
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner{
	text-shadow: #5D86EE 0px 0px 1px;
	background: #690F0F; /* Old browsers */
	background: -moz-linear-gradient(top, #690F0F 0%, #771414 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#690F0F), color-stop(100%,#771414)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #690F0F 0%,#771414 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #690F0F 0%,#771414 100%); /* W3C */
}
.button:active .outer .height .inner{
	text-shadow: #610B0B 0px 1px 0px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	background: D81919; /* Old browsers */
	background: -moz-linear-gradient(top, D81919 0%, #E12A2A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,D81919), color-stop(100%,#E12A2A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, D81919 0%,#E12A2A 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, D81919 0%,#E12A2A 100%); /* W3C */
}
#result{
	margin-bottom:2em;
}





/*=============================About Us Content=================================================*/


#au_team{
	background-color:#ecf0f1;
	text-align:center;
}

#au_paul{
	float:left;
	height:20%;
	width:40%;
	margin-top:2em;
	margin-left:4em;
}

#au_wagner{
	float:right;
	height:2o%;
	width:40%;
	margin-top:2em;
	margin-left:4em;
}

#au_aaron{
	float:left;
	height:20%;
	width:40%;
	margin-top:2em;
	margin-left:4em;
	clear:both;
}

#au_alex{
	float:right;
	height:25%;
	width:40%;
	margin-top:2em;
	margin-left:4em;
}
