#account_header{
	text-align:center;
}

#account_header>input{
	border: 2px solid black;
	border-bottom: 1px solid black;
}

#account_column_side{
	width: 15%;
	float: left;
}

#account_column_main{
	width: 75%;
	float: left;
}

#account_badges{
	display: inline-block;
}

#account_badges>div{
	background: #F8FBEF;
	width: 100%;
	margin-bottom: 1em;
	padding-top: .3em;
	padding-bottom: .3em;
	border-radius:.4em;
}

#account_badges>div:last-child{
	margin-bottom: 0;
}

#account_badges>div>img{
	margin-left: .3em;
}

#account_badges>div,#account_badges>div>img{
	float: left;
}

#account_badges>div>p{
	float: left;
	margin-left: 1em;
	width: 50%;
}

#account_blog{
	display: inline-block;
	float: left;
	width: 30%;
}

#account_program{
	display: inline-block;
	float: left;
	height: 5em;
	width: 45%;
}

textarea{
	resize: none;
}

form{
	display: inline-block;
}

.account_column{
	margin-left: 2%;
}

.account_divs{
	background:#afada7;
	width: 100%;
	padding: .3em;
	margin-top: 1em;
	border-radius:.4em;
	font-weight:bold;
	font-family:Helvetica, "Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
	text-align:left;
}