/*====================MEDIA QUERIE============================*/
@media screen and (max-width:940px){
	body{
		font-size:1em;
	}
	body h1{
		font-size:2em;
	}
	body h2{
		font-size:1.7em;
	}	

/*===============NAVIGATION BAR==========================*/		
	#main_nav, #main_nav li{
		float:none;
	}
}

@media screen and (max-width:860px){
	body{
		font-size:.9em;
	}
	body h1{
		font-size:2em;
	}
	body h2{
		font-size:1.7em;
	}	
	
/*===============NAVIGATION BAR==========================*/		
	#main_nav, #main_nav li{
		float:none;
	}
	

}
@media screen and (max-width:800px){
	body{
		font-size:.8em;
	}
	body h1{
		font-size:2em;
	}
	body h2{
		font-size:1.7em;
	}	
}
@media screen and (max-width:768px){
	body h1{
		font-size:1.5em;
	}
	body h2{
		font-size:1.3em;
	}
	#login_container{
		float:none;
		width:40%;
		position:absolute;
		top:8em;
	}
/*===============NAVIGATION BAR==========================*/	
	#navDesk{
		height:2.4em;
	}
	#navDesk .main_nav li a:hover{
		height:2.5em;
	}
	#navDesk .main_nav li{
		font-size:1em;
	}
	#main_section{
		padding:2em;
		margin:0 auto;
	}
	#navDesk .current{
		border-bottom:.43em solid #AD9B7F;
	}

}
@media screen and (max-width:600px){
	body h1{
		font-size:1.3em;
	}
	body h2{
		font-size:1.1em;
	}
	#main_header{
		border-bottom:.3em solid #C38F00;
	}
/*===============NAVIGATION BAR==========================*/	
	#navDesk{
		display:none;
	}
	#nav-icon{
		background-image:url('images/nav-icon.png');
		background-repeat:no-repeat;
		width:50px;
		height:50px;
	}
	#navTablet{		
		display:block;
		width:45%;
		height:38%;
		margin-left:2em;
	}
	#navTablet .main_nav li a{
		background:#C38F00;
		background:linear-gradient(#C38F00, #F8FBEF, #000);
		background:-moz-linear-gradient(#C38F00, #F8FBEF, #000);
		background:-o-linear-gradient(#C38F00, #F8FBEF, #000);
		background:-webkit-linear-gradient(#C38F00, #F8FBEF, #000);
		background:-ms-linear-gradient(#C38F00, #F8FBEF, #000);		
		float:none;
		list-style:none;
		text-decoration:none;
		padding:.9em;
		display:block;
		width:25em;
		line-height:1em;
		font-size:1em;
		text-decoration:none;
		color:#DF7401;
		border-bottom:.125em solid white;
	}
	#navTablet li a:hover, #navTablet li a:focus{
		background:#58FAAC;
		background:linear-gradient(#58FAAC, #F8FBEF, #000);
		background:-moz-linear-gradient(#58FAAC, #F8FBEF, #000);
		background:-o-linear-gradient(#58FAAC, #F8FBEF, #000);
		background:-webkit-linear-gradient(#58FAAC, #F8FBEF, #000);
		background:-ms-linear-gradient(#58FAAC #F8FBEF, #000);			
		border-left:.4em solid white;
		width:24.6em;
	}
	#navTablet li:last-child a{
		border-bottom:none;
	}
}
@media screen and (max-width:480px){
	header h1{
		font-size:1.2em;
	}
	header h2{
		font-size:.9em;
	}
	#navDesk{
		position:absolute;
		left:-9000em;
	}
}