#news_section{
	margin:0 auto;
	width:70%;
}
#news_header{
	text-align:center;
}
#news_spacer{
	padding-top: 5px;
}
.news_headline{
	margin-top:.3em;
	color: black;
	padding:.2em;
	background: #999;
    font-weight: 700;
    cursor: pointer;
	width: 100%;
	display: inline-block;
	text-align: left;
}
.news_headline:hover{
	background:#DF7401;
	color: white;
}
.news_headling>div{
	float: left;
}
.news_headline>div>h3{
	font-size: 1.5em;
	margin-left: 5px;
	float: left;
	width: 80%;
}
.news_headline>div>p{
	margin-left: 5px;
	width: 80%;
	font-family:"Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
	font-weight: .9em;
	float: left;
}
.news_headline>img{
	float: left;
	margin: 5px;
}