/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Clear Default*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
/*FOR IE 6,7 (triger hasLayout)*/
.cf{
	zoom:1;
}

/*==============body defaults===================================*/
body{
	background:#F8FBEF;
	width:100%;
	line-height:1.4;
	margin:0 auto;
	font-family:Georgia, Verdana, "Times New Roman", serif;
}
h1,h2,h3,h4{
	font-family:"Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
}
h1{
	font-size:2.4em;
}
h2{
	font-size:1.9em;
}
h3,h4{
	font-size:1.2em;
	font-weight:bold;
}
#login_div{
	background: rgba(0,0,0, 0.6);
	width:100%;
	height:3000px;
	z-index:2;
	position:absolute;
	display:none;
}
#close-icon{
	background-image:url('../images/close-icon.png');
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	position:relative;
	left:24.5em;
	top:-5.7em;
}
#logoIn{
	background-image:url('../images/placeholder.png');
	background-repeat:no-repeat;
	width:100px;
	height:100px;
	margin:0 auto;
}
#log-box{
	background:white;
	position:absolute;
	top:3em;
	left:8em;
	z-index:2;
	width:20em;
	height:10em;
	border-radius:.4em;
	line-height:2em;
	font-size:1.7em;
	font-weight:bold;
	font-family:Helvetica, "Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
	text-align:center;
	padding:5em;
}
#homepage{/*initialize height to other part work with percentage*/
	width:100%;
	height:780px;
}
a{
	text-decoration:none
}

/*========================HEADER SECTION========================*/
#main_header, #main_header a{
	width:100%;
	height:25%;
	color:white;
	text-decoration:none;
}
#main_header{
	background: #2980b9;
}
#head_wrap{
	width:90%;
	margin:0 auto;
}
#logo{
	float:left;
}
#main_headings{
	padding:2em;
	margin-left:1em;
	float:left;
	color:#DF7401;
	font-weight:bold;
	width:60%;
}
/*=============login and buttons layout=======================*/

#login_container{
	float:right;
	width:20%;
}
.log{
	background:#DF7401;
	color:#BCC6CC;
	padding:0 1em;
	width:5em;
	height:1.6em;
	margin:.2em .2em;
	border:1px solid #000;
	font-family:Helvetica, sans-serif;
	font-weight:100;
	font-size:1em;
	text-transform:lowercase;
	letter-spacing:.045em;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
	border-radius:.325em;
	box-shadow:inset 0px 1px 3px rgb(245,201,155);/*option1*/	
	-webkit-box-shadow:inset 0px 1px 3px rgb(245,201,155);
	background: #34495e;
}
.log_on:hover{
	background: #DF7401;
	color:#F8FBEF;
}
.log_off:hover{
	background:#DF7401;
	color:#F8FBEF;
	border:1px ridge #F8FBEF;
}
.log:active, .log:focus{
	background: #BCC6CC; 

}

/*====================NAVIGATION AREA ============================*/
#navDesk{
	height:2.3em;
	background:#28343b;
	border-bottom:.3em solid #DF7401;
}
#navDesk .main_nav{
	margin-left:4em;
}
#navDesk .main_nav{
	height:2em;
	background:#28343b;
}
#navDesk .main_nav,.main_nav li{
	float:left;
	list-style:none;
}
#navDesk li{
	position:relative;
}
#navDesk .main_nav li{
	border-right:.1em solid #0B610B;
	height:2.4em;/*if I couldn't fix the submenu to down will take it out*/
}
#navDesk .main_nav li a{
	display:block;
	line-height:2em;
	padding:0 1em;
	color:#F8FBEF;
}
#navDesk .main_nav li a:hover{
	background:#DF7401;
	height:2.3em;
	display:block;
}
/*----------dropdown menu-----------*/
#navDesk ul.submenu{
	background:#F8FBEF;
	margin-top:.5em;
	width:18em;
	height:8em;
	border:.5em solid #DF7401;/*---kind of orange--*/
	border-bottom-left-radius:.4em;
	border-bottom-right-radius:.4em;
	position:absolute;
	top:2em;
	float:none;
	left:-9000em;
	/*--   CSS TRANSITIONS   --*/
/* 	max-height:0;
	-moz-transition:max-height 0.7s ease-in-out;
	-webkit-transition:max-height 0.7s ease-in-out;
	-o-transition:max-height 0.7s ease-in-out;
	transition:max-height 0.7s ease-in-out;	 */
	overflow:hidden;
	/*--   CSS TRANSITIONS   --*/
}
#navDesk ul.submenu li{
	float:none;
	border:none;
	background:#F8FBEF;
}
#navDesk .main_nav li:hover ul{
	left:0;
/* 	max-height:10em;/*--   CSS TRANSITIONS   --*/ */
}
#navDesk .main_nav > li:hover > a{
	background:#DF7401;
	height:2.3em;
}
#navDesk ul.submenu li a{
	margin-left:.3em;
	padding:.2em 1em;
	white-space:nowrap;
	position:absolute;
	color:#DF7401;
}
#navDesk ul.submenu a{
	width: 18em;
}

#navDesk ul.submenu:last-child li{
	margin-top:1em;
}
#navDesk ul.submenu a:hover{
	background:#DF7401;
	color:#F8FBEF;
	width:80%;	
}
#navDesk .current, #navDesk .main_nav a:hover.current{
	background:#AD9B7F;
	color:#eee;
	border-bottom:.6em solid #AD9B7F;
	cursor:default;
}
#navDesk .main_nav a:hover.current{
	border-bottom:.29em solid #AD9B7F;
}


#navTablet{
	display:none;
}
#menu-button, .menu-text{
	display:none;
}
.menu-text{
	width:100%;
	height:45px;
	background:red;	
	background:#28343B;
	font-size:1.9em;
	letter-spacing:.1em;
	text-align:right;
}
/*===================MAIN SECTION=============================*/
#main_section{
	background:#F8FBEF;/*--kind of white*/
	
}
/*=================SIDE BAR====================================*/
#sidebar{
	margin:0 auto;
	outline:1px solid red;/*remove after it*/
	width:30%;
	height:480px;
	float:left;

}
/*===============FOOTER SECTION==================================*/
footer{
	width:100%;
	clear:both;
}
#subfooter{
	background:#999999;
	background-image:url('../images/aifa-footer.png');
	background-repeat:repeat-x;
	height:620px;
	padding:.5em .4em;
}

.column{
	margin-top:10em;
	width:32.3%;
	float:left;
}
.column:last-child{
	border-right:none;
}
/*---------columen one---------*/
#news{
	height:1.8em;
	border-top:.2em solid #999;
	border-left:.2em solid #999;
	border-bottom:.2em solid #ccc;
	border-right:.2em solid #ccc;
}
#submitnews{
	border-top:.2em solid #DF7401;
	border-left:.2em solid #DF7401;
	border-bottom:.2em solid #894803;
	border-right:.2em solid #894803;
	background:#DF7401;
	margin:.2em 0 0 -.4em;
	height:2.3em;
}
#newsletter{
	color:red;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:.1em;
	text-transform:uppercase;
}
#newsLetter, iframe, #columnOne p{
	margin-left:1em;
}
#columnOne p{
	line-height:1.5;
	
}
iframe{
	max-width:100%;
	border:.6em solid white;
	border-radius:.2em;
	cursor:default;
	color:#5C5C5C	
}
/*---------column two---------*/
#columnTwo p:first-child{
	font-family:Ariel, sans-serif;
	font-size:1.2em;
	margin:1em 3em;
	text-align:center;
	text-transform:uppercase;
}
.appStore, .appStore a{
	text-indent:-9999em;
	width:218px;
	height:64px;
	display:block;	
	margin:0 auto;
}
#apple{
	background-image:url('../images/apple.png');
	background-repeat:no-repeat;	
}
#apple:hover{
	background-image:url('../images/apple-hover.png');
	background-repeat:no-repeat;
}
#google{
	background-image:url('../images/google.png');
	background-repeat:no-repeat;	
}
#google:hover{
	background-image:url('../images/google-hover.png');
	background-repeat:no-repeat;	
}
#win{
	background-image:url('../images/win.png');
	background-repeat:no-repeat;	
}
#win:hover{
	background-image:url('../images/win-hover.png');
	background-repeat:no-repeat;	
}
#amazon{
	background-image:url('../images/amazon.png');
	background-repeat:no-repeat;	
}
#amazon:hover{
	background-image:url('../images/amazon-hover.png');
	background-repeat:no-repeat;	
}
/*---------column thre and four-----------*/
	.column span{
		color:#fff;
		font-style:underline;
		line-height:3;
	}	
	#columnThree{
		float:right;
	}
	#columnFour{
		float:right;
		margin-top:-.3em;
	}

	#useful-links a, #social-network a{
		color:#000;
	}
	#useful-links a:hover{
		color:#DF7401;
		background:#F8FBEF;
		padding:.2em;
		border-radius:.2em;
	}
	#facebook{
		list-style-image:url('../images/Facebook.png');
	}
	#facebook a:hover{
		background:#5775AE;
		color:#fff;
	}
	#twitter{
		list-style-image:url('../images/twitter.png');
	}
	#twitter a:hover{
		background:#ADEBED;
		color:#357EB3;
	}
	#linkedin{
		list-style-image:url('../images/linkedin.png');
	}
	#linkedin a:hover{
		background:#145487;
		color:#fff;
	}
	#instagram{
		list-style-image:url('../images/instagram.png');
		margin-bottom:2em;
	}
	#instagram a:hover{
		background:#C4B29C;
		color:#A7775D;
		margin-bottom:2em;
	}
	#facebook:hover a, #twitter a:hover, #linkedin a:hover, #instagram a:hover{
		padding:.2em .3em .2em .3em;
		border-radius:.2em;
	}
	#terms{
		color:red;
		margin-top:2em;
	}
	#terms:hover{
		color:#DF7401;
	}
	#termsDownload{
		float:right;
		background-image:url('../images/adobe.png');
		background-repeat:no-repeat;
		width:30px;
		height:32px;
		margin-right:10em;
	}
#footer{
	background:#20160D;
	height:70px;
	color:#999999;
}
#footer span{
	float:left;
}
#group{
	display:none;
}
#group li a{
	color:#999999;
}
#copyrightSymbol{
	float:left;
	margin-left:2em;
	background-image:url('../images/copyright1.png');
	background-repeat:no-repeat;	
	width:50px;
	height:50px;
}
#copyright{
	margin:2em 20em 0 0;
}
#credits span{
	margin-top:2em;
}
.designers {
	max-width:100%;
	margin-left:.4em;
	padding:.2em;
	border-radius:50%;
	box-shadow:.2em .2em .1em .1em #888888;
	float:left;
}

/*============================================================*/
/*DO NOT EDIT CONTENT ABOVE THESE COMMENTS! THESE ARE DEFAULTS*/
/*IF YOU ARE SEEING THIS SAM, WE FORGOT TO DELETE THIS LINE!*/
/*============================================================*/

/*=============================HOMEPAGE CONTENT=================================================*/
#banner{
	width:100%;
	height:374px;
	margin:0 auto;
	background:#000;
}

#content{
	float:left;
	width:70%;

	margin:0 auto;
	
}

.fitnessBook{
	width:28.9%;
	height:210px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.3); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
    zoom: 1;	
	padding:.5em .5em;
	float:left;
	margin:.4em .4em .4em .6em;
}
.fitnessBook h2{
	font-size:1.2em;
	font-weight:bold;
}
.fitnessBook p{
	font-size:.7em;
}
.fitnessBook img{
	max-width:100%;
	border:.4em solid #F8FBEF;
}
.big{
	display:none;
}

#healthybody{
	display:none;
}
#myth{
	display:none;
}
.expanded{
	display:none;
}
.promo{
	margin:.5em .2em .2em .2em;
	width:90%;
	height:150px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.3); 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
    zoom: 1;
}
.within-promo-wrap{
	margin:0 auto;
	width:90%;
	height:130px;
	background:#F8FBEF;
}
/*-----------Side Bar---------------*/


/*=============================Weight loss Content=================================================*/
/*=============================Recipes Content=================================================*/
/* Basic sample */

.recipes_screen{
	background: rgba(0,0,0, 0.6);
	width:100%;
	height:100%;
	z-index:-1;
	position:absolute;
	top:0;
	left:0;
	display:none;
}

#recipe_content{
	width:100%;
	background:yellow;
	z-index:-2;
}

#recipe_cover{
	background-image:url('../images/Recipes.jpg');
}

#turkey-heading{
	width:100%;
	height:10%;
	margin-left:10em;
}


#recipe_page1010Body{
	height:85%;
	width:100%;
}
img{
	max-height:100%;
	max-width:100%;
}

.page2_wrapper{
	width:100%;
	
	background-color:#2ecc71;
	margin-left:2em;
}

.servings{
	width:30%;
	float:left;
}

.prep{
	width:30%;
	margin-left:2em;
	float:left;
}

.cooktime{
	width:40%;
	margin-left:2em;
	float:left;
}

.recipe_ingredients{
	width:50%;
	border-style: solid;
    border-width: 1px;
	height:70%;
	margin-left:2em;
}

.page3_wrapper{
	margin-right:2em;
	background-color:#2ecc71;
}
.recipe_calories{
	
	background-color:#2ecc71;
	width:30%;
	float:left;
}

.recipe_fat{

	width:30%;
	float:left;
	background-color:#2ecc71;
}

.recipe_carbs{
	width:20%;
	float:left;
	background-color:#2ecc71;
}

.recipe_protein{
	width:20%;
	float:left;
	background-color:#2ecc71;
}


.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{

	margin:auto;
}

.flipbook-viewport .flipbook{
<<<<<<< HEAD
	width:50em;
	height:25em;
	margin-top:2em;
	margin-bottom:2em;
=======
	width:800px;
	height:400px;

>>>>>>> 181e33dcffb20f4fc339649f1a8c2a0671950497
}

.flipbook-viewport .page{
	width:400px;
	height:400px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook-viewport .double{
	width:800px;
	height:400px;
	background-size:100%;
}


/*=============================Recommended Products Content=================================================*/
/*=============================About Us Content=================================================*/
