/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Clear Default*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
/*FOR IE 6,7 (triger hasLayout)*/
.cf{
	zoom:1;
}



/*==============body defaults===================================*/
body{
	width:100%;
	line-height:1.4;
	margin:0 auto;
	font-family:Georgia, Verdana, "Times New Roman", serif;
}
h1,h2,h3,h4{
	font-family:"Calibri Light", "Franklin Gothic Book", Arial, sams-serif;
}
h1{
	font-size:2.4em;
}
h2{
	font-size:1.9em;
}
h3,h4{
	font-size:1.2em;
	font-weight:bold;
}
#homepage{/*initialize height to other part work with percentage*/
	height:780px;
}
a{
	text-decoration:none
}

/*========================HEADER SECTION========================*/
#main_header, #main_header a{
	width:100%;
	height:25%;
	color:white;
	text-decoration:none;
}
#main_header{
	background-color:#58FAAC;
	background:linear-gradient(#0F0100 0%,#58FAAC 65%);
	background:-moz-linear-gradient(#0F0100 0%,#58FAAC 65%);
	background:-o-linear-gradient(#0F0100 0%,#58FAAC 65%);
	background:-webkit-linear-gradient(#0F0100 0%,#58FAAC 65%);
	background:-ms-linear-gradient(#0F0100 0%,#58FAAC 65%);
}
#head_wrap{
	width:90%;
	margin:0 auto;
}
#logo{
	float:left;
}
#main_headings{
	padding:2em;
	margin-left:1em;
	float:left;
	color:#DF7401;
	font-weight:bold;
}
#login_container{
	float:right;
	padding: 
}


/*=====================NAVIGATION=============================*/
#navDesk{
	height:2.3em;
	background:#58FAAC;
	border-bottom:.3em solid #DF7401;
}
#navDesk .main_nav,.main_nav li{
	float:left;
	list-style:none;
}
#navDesk .main_nav{
	margin-left:4em;
}
#navDesk .main_nav{
	width:100%;
	height:2em;
	background:#58FAAC;
}
#navDesk li{
	position:relative;
}
#navDesk .main_nav li{
	border-right:.1em solid #000;
	height:2.4em;/*if I couldn't fix the submenu to down will take it out*/
}
#navDesk .main_nav li a{
	display:block;
	line-height:2em;
	padding:0 1em;
	color:#F8FBEF;
}
#navDesk .main_nav li a:hover{
	background:#DF7401;
	height:2.3em;
	display:block;
}
/*----------dropdown menu-----------*/
#navDesk ul.submenu{
	background:#F8FBEF;
	margin-top:.5em;
	width:18em;
	height:8em;
	border:.5em solid #DF7401;
	border-bottom-left-radius:.4em;
	border-bottom-right-radius:.4em;
	position:absolute;
	top:2em;
	float:none;
	left:-9000em;
}
#navDesk ul.submenu li{
	float:none;
	border:none;
	background:#F8FBEF;
}
#navDesk .main_nav li:hover ul{
	left:0;
}

#navDesk ul.submenu li a{
	margin-left:.3em;
	padding:.2em 1em;
	white-space:nowrap;
	position:absolute;
	color:#DF7401;
}
#navDesk ul.submenu:last-child li{
	margin-top:1em;
}
#navDesk ul.submenu a:hover{
	background:#F8FBEF;
	color:#DF7401;
	border-bottom:.1em solid #000;
	width:80%;	
}
#navDesk .current, #navDesk .main_nav a:hover.current{
	background:#AD9B7F;
	color:#eee;
	border-bottom:.4em solid #AD9B7F;
	cursor:default;
}
#navDesk .main_nav a:hover.current{
	border-bottom:.1em solid #AD9B7F;
}



/*===================MAIN SECTION=============================*/
#main_section{
	padding-top:2em;
	width:90%;
	margin:0 auto;
	background:#F8FBEF;
}
#sidebar{
	float:right;
	width:36%;
}
#content{
	float:left;
	width:64%;
}

/*===============FOOTER SECTION==================================*/
footer{
	width:100%;
	clear:both;
}
#footer_space{
	float:left;
	outline:1px solid red;/*------remove after finish the footer------*/
}


