/* This is the "master css file" for the whole website! Don't go changing anything in here! I'm serious! >:( 

-Aaron
*/

body{
	background: #EFFBF8;
}

header{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
}

nav{
	text-align: center;
}

footer{
	text-align: center;
	position: relative;
	border-bottom: 2px solid black;
}

header, nav, footer{
	background-color: orange;
}

#homepage{
	width: 960px;
	margin: 0 auto;
	background: orange;
}

#main_section{
	background: yellow;
	position: relative;
	top: -45px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#main_header{
	float: left;
	margin: 0 auto;
	border-top: 2px solid black;
}

#login_div{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -90px;
	margin-left: -150px;
	background: white;
	width: 300px;
	height: 180px;
	text-align: center;
	border: 2px solid black;
	z-index: 2;
}

#logo, #header_text_wrapper{
	float: left;
}

#login_bg{
	background: black;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#login_container{
	float: right;
	margin-top: 16px;
	margin-right: 40px;
	background: white;
	padding: 5px;
	border: 2px solid black;
	text-align: right;
}

#nav_drop{
	position: relative;
	left: 200px;
}

.nav_element{
	background: red;
	color: white;
	padding: .5em;
	margin-bottom: 5px;
	display: inline-block;
	border: 2px solid black;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav_element:hover{
	background: blue;
	cursor: pointer;
}